.footer1 {
    width: 100%;
    padding: 15px 0;
    background: linear-gradient(90deg, #3aabd1, #3c6b99); 
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    bottom: 0;
  }
  
  .highlight {
    font-weight: bold;
    color: #ffcc00;
    transition: color 0.3s ease-in-out;
  }
  
  .highlight:hover {
    color: #ffaa00; 
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .footer{
        width: 100%;
    }
    @media (max-width: 968px) {
      .footer{
          width: 100px;
      }
  }
}



  